* {
    padding: 0;
    margin: 0;
    background: #d9dbe2;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.header {
    margin-top: 2%;
}

.logo {
    padding-top: 10px;
}

body {
    padding: 0% 0% 0% 5%;
    box-sizing: border-box;
    margin-left: 10px;
}

.bienvenida {
    display: flex;
    justify-content: center;
}

.cajas_texto {
    display: flex;
    gap: 5%;
    align-items: normal;
    text-align: center;
}

.inserta_texto_aqui {
    color: #2E073F;
    font-size: 150%;
    text-align: center;
}

.caja1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}



.imagen_candado {
    display: flex;
    width: 175px;
    height: auto;
    justify-content: center;
    align-items: center;
}

.caja2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}

.container_input {
    display: flex;
    border: none;
    flex-direction: column;
}

.container_output {
    background: white;
}

textarea {
    border-color: #2E073F;
    border-radius: 10%;
    width: 400px;
    height: 380px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.caja_output {
    background-image: url(/assets/Computador.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.caja_output.sin-fondo {
    background-image: none;
}

.section_botons {
    padding: 8% 0;
    display: flex;
    flex-direction: row;
    gap: 17%;
}

.encrypt-button, .decrypt-button {
    border-radius: 10%;
    width: 50%;
    height: 10vh;
}

.encrypt-button {
    background-color: #2E073F;
    color: #ffffff;
}

.decrypt-button {
    background-color: #d8dfe8;
    color: #2E073F;
}

.footer {
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
}


@media (max-width: 768px) {
    body {
        padding: 0;
        margin-left: 0;
    }

    .cajas_texto {
        flex-direction: column;
        gap: 10px;
    }

    .section_botons {
        flex-direction: column;
        gap: 10px;
        padding: 4% 0;
    }

    .encrypt-button, .decrypt-button {
        width: 100%;
        height: 8vh;
    }

    textarea {
        width: 100%;
        height: 250px;
    }
}

@media (max-width: 480px) {
    * {
        font-size: 24px;
    }

    .header {
        margin-top: 5%;
    }

    .logo {
        padding-top: 5px;
    }

    .caja1, .caja2 {
        margin: 5% 0;
    }

    .encrypt-button, .decrypt-button {
        height: 50px;
    }

    .footer {

        margin-top: 10%;
        margin-bottom: 5%;
    }
}

.logos_footer {
    display: flex;
    flex-direction: column;
}

.logos_redes img {
   
    width: 100px; 
    height: auto; 
    
}

.logos_redes{
    display:flex ;
    
}